/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none !important;
  font-family: 'Roboto', sans-serif;
}

@tailwind utilities;
